
<div class=" container text-center" style="background-color: #4F4B36;max-width: 1000px;" >
    <img [src]="imghost" alt="" class="mt-2 mb-2">
    <div class="bg-black text-white  card rounded-0 ">
        <div class="card-title mt-3 mb-2 text-center" style="width: 100%;" >
          <h1 class="title  " style="color:#BFB274 ;">Your career as a model and trade fair hostess</h1>
    
        
        </div>
        <div class="card-body text-center m-3" >
            <p class="card-text text-center" >Do you have an open and communicative personality and want to showcase your charm? If you are looking for an attractive earning opportunity or a varied part-time job, then Diamonds Model Agency is the right place for you.</p>
        </div>
      </div>
      <div class="bg-black text-white mt-2 rounded-0 m-auto p-5">
        <div class="bg-black text-white border border-warning-subtle  card rounded-0  ml-auto mr-auto "  >
            <div class="card-title mt-3 mb-2 text-center"  >
                <h2 class="titleh2">Apply now</h2>
        
            
            </div>
            <div class="card-body text-center m-3" >
                <form class="text-start ">
                    <h1 class="titleh3">Info Personal</h1>
                    <div class="mb-3 form-check">
                        <Label class="mylabel">gender</Label>
                        <div class="row">
                            <div class="col">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                
                            </div>
                            <div class="col">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="mb-3 ">
                        <div class="row">
                            <div class="col">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="first name" name="first name" id='first name' required />
                                    <label for="first name" class="form__label">first name</label>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="last name" name="last name" id='last name' required />
                                    <label for="last name" class="form__label">last name</label>
                                  </div>
                            </div>
                        </div>
                      </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                                    <label for="name" class="form__label">email name</label>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                                    <label for="name" class="form__label">email name</label>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                                    <label for="name" class="form__label">email name</label>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                                    <label for="name" class="form__label">email name</label>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                                    <label for="name" class="form__label">email name</label>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                                    <label for="name" class="form__label">email name</label>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form__group field">
                            <input type="input" class="form__field" placeholder="email name" name="email name" id='email name' required />
                            <label for="name" class="form__label">email name</label>
                          </div>
                    </div>
    
                    <div class="mb-3">
                        
                        <div class="form__group field">
                            <input type="input" class="form__field" placeholder="Name" name="name" id='name1' required />
                            <label for="name" class="form__label">Name</label>
                          </div>
                          
                          
                        
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="button-48 " >Submit</button>
                  </form>
            </div> 
            
          </div>
       
      </div>
      
    <h1 class="text-lg-start mt-4 mb-0 text-white">Images</h1>
  
    <hr class="mt-2 mb-5">
  
    <div class="row text-center text-lg-start">
  
        <div class="col-lg-3 col-md-4 col-6" >
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://islamonline.net/wp-content/uploads/2022/04/%D8%B1%D9%85%D8%B6%D8%A7%D9%86-%D9%83%D8%B1%D9%8A%D9%85-600x330.jpg" style="width: 100%; height: auto; max-width: 400px; max-height: 200px;" alt="">
            </a>
          </div>
  
          <div class="col-lg-3 col-md-4 col-6" >
              <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="https://newsnetwork.mayoclinic.org/n7-mcnn/05df5ffa62227057/uploads/sites/2/2023/03/An-open-Quran-rests-next-to-a-bowl-of-dates-and-a-decorated-lantern_GettyImages-1368465583.jpg" style="width: 100%; height: auto; max-width: 400px; max-height: 200px;" alt="">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-6" >
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://img.medi1news.com/vis_0307202314400705.jpg" style="width: 100%; height: auto; max-width: 400px; max-height: 200px;" alt="">
                </a>
              </div>
  
              <div class="col-lg-3 col-md-4 col-6" >
                  <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src="https://islamonline.net/wp-content/uploads/2022/04/%D8%B1%D9%85%D8%B6%D8%A7%D9%86-%D9%83%D8%B1%D9%8A%D9%85-600x330.jpg" style="width: 100%; height: auto; max-width: 400px; max-height: 200px;" alt="">
                  </a>
                </div>
  
                <div class="col-lg-3 col-md-4 col-6" >
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://islamonline.net/wp-content/uploads/2022/04/%D8%B1%D9%85%D8%B6%D8%A7%D9%86-%D9%83%D8%B1%D9%8A%D9%85-600x330.jpg" style="width: 100%; height: auto; max-width: 400px; max-height: 200px;" alt="">
                    </a>
                  </div>
        <div class="col-lg-3 col-md-4 col-6" *ngIf="imageUrl">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail"  [src]="imageUrl" alt="" *ngIf="imageUrl" style="width: 100%; height: auto; max-width: 400px; max-height: 200px;" alt="">
            </a>
          </div>
        <div class="col-lg-3 col-md-4 col-6" >
            <label for="selectFile" class="d-block mb-4 h-100">
              <img   class="img-fluid img-thumbnail"  src="https://th.bing.com/th/id/OIP.jtst5ep_OqIJ8PZ2yBTMgQHaHa?pid=ImgDet&w=474&h=474&rs=1" style="width: 100%; height: auto; max-width: 400px; max-height: 200px;" alt="">
            </label>
          <input type="file" id="selectFile" (change)="selectImage($event)" hidden class="form-control">
        </div>
  
      
    </div>
    
